<html>
<head>
	<title> <%- graphTitle %> </title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" charset="utf-8">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
</head>
<body class="container">
<main>
<div class="charter">
	<!-- views/map-access-chart.ejs -->
	<canvas id="myChart" width="300" height="300"></canvas>

	<script id ="map-popularity" type="text/javascript">
		var ctx = document.getElementById("myChart").getContext("2d");
		var myChart = new Chart(ctx, {
		type: 'bar',
		data: {
			labels: <%- JSON.stringify(date) %>,
			datasets: [{
				label: '<%- graphTitle %> ',
				data: <%- JSON.stringify(data) %>
			}]
		},
		options: {
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true
					}
				}]
			},
			responsive: true,
			maintainAspectRatio: false,
		}
	});
	</script>
</div>
</main>
<style>
	body {
		margin: 0px;
		background-color: #d1d8ec;
	}
	.charter {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		height: 100vh;
		width: 100vw;
	}
	.container {
		height: 100vh;
	}
</style>
</html>

