<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" charset="utf-8">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre Baskerville">
<title> Spending Tracker - Main Page </title>
</head>
<body>
	<div id="navigatox">
		<%- include("../partials/header.ejs"); %>
		<div id="links">
			<a href="/grocery" class="myButton">Grocery</a>
			<a href="/work" class="myButton">Lunches</a>
			<a href="/misc" class="myButton">Misc</a>
		</div>
	</div>
</body>
	<style>
		<%- include("../../public/indexStyle.css"); %>
	</style>
</html>

