<div class="navbar">
  <span class="navIcon"> 
    <a href="https://trackgroceries.info/home">
         <img src="https://trackgroceries.info/logo">
    </a>
  </span>
  <span class="userInfo">
	  USER INFO // TODO
  </span>
</div>
