<html>
<head>
<title>Tracker</title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" charset="utf-8">
</head>
<body class="container">

<main>
	<div class="inputArea">
			<form action="/work" method="POST">
				<input type = "number" id="formAmountValue" name = "value" max = "50" min = "1" placeholder="Amount" required autofocus/>
				<div class="submitter">
					<button type="submit" id="myButton">Submit</button>
				</div>
			</form>
		</div>
	</div>
	<div class="grapher">
		<form action="/workGraph">
			<input type="submit" value="Graph Past Transactions"/>
		</form>
	</div>
	<!-- TODO put all this into a stlesheet -->
</main>
<style>
	body {
		background-color: #FCFCD6;
	}

	.inputArea {
		display: flex;
		height: 100vh;
		align-items: center;
		justify-content: center;

	}

	@media (min-width: 501px) {
	input[type=number] {
		font-family: serif;
		font-size: 24px;
		padding: 10px;
		margin-bottom: 50px;
		border: 0;
		border-bottom:1px solid #eee;
		box-shadow: 0px 18px 14px -7px #153c42;
		width: 35%;
		}
	}

	@media (min-width: 501px) /* Mobile */ {
	#myButton {
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 0px 18px 14px -7px #153c42;
		background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
		background-color:#599bb3;
		border-radius:8px;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:16px;
		font-weight:bold;
		padding:24px 43px;
		text-decoration:none;
		text-shadow:0px 1px 0px #3d768a;
	}

	#myButton:hover {
		background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
		background-color:#408c99;
	}

	#myButton:active {
		position:relative;
		top:1px;
	}
}
	@media (max-width: 501px) {
	input[type=number] {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: serif;
		font-size: 16px;
		padding: 10px;
		margin-bottom: 30px;
		border: 0;
		border-bottom:1px solid #eee;
		box-shadow: 0px 18px 14px -7px #153c42;
		width: 35%;
		}
	}

	@media (max-width: 500px) /* Mobile */ {
		#myButton {
			display: flex;
			align-items: center;
			justify-content: center;
			box-shadow: 0px 18px 14px -7px #153c42;
			background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
			background-color:#599bb3;
			border-radius:8px;
			display:inline-block;
			cursor:pointer;
			color:#ffffff;
			font-family:Arial;
			font-size:14px;
			font-weight:bold;
			padding:16px 22px;
			text-decoration:none;
			text-shadow:0px 1px 0px #3d768a;
		}

		#myButton:hover {
			background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
			background-color:#408c99;
		}

		#myButton:active {
			position:relative;
			top:1px;
		}
}
</style>
</html>

