body {
	background-color: #D1D8EC; 
}

#navigatox {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 7fr;
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  height: 100vh;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 100vw;
}

.navIcon {
    margin: 25 25 0 15;
}

.userInfo {
  grid-column-start: 5;
}

.myButton {
	display:inline-block;
	cursor:pointer;
	font-family:Libre Baskerville, serif;
	font-size:35px;
	font-weight:bold;
	padding:3em;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	background: #D1D8EC;
	-webkit-box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
	box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
	/*! grid-row-start: 2; */
	margin: 25px;
}

.myButton:hover {
	border-radius: 50px;
	background: linear-gradient(145deg, #bcc2d4, #e0e7fd);
	box-shadow:  20px 20px 60px #b2b8c9,
			-20px -20px 60px #f0f8ff;
}

.myButton:active {
	position:relative;
	top:1px;
}


