body {
	background-color: #FCFCD6;
}

#navigatox {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 7fr;
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  height: 100vh;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 100vw;
}

.navIcon {
	margin: auto;
}

.userInfo {
  grid-column-start: 5;
}

@media (min-width: 501px) /* Mobile */ {
	.myButton {
		box-shadow: 0px 18px 14px -7px #153c42;
		background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
		background-color:#599bb3;
		border-radius:8px;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Libre Baskerville, serif;
		font-size:35px;
		font-weight:bold;
		padding:4em;
		text-decoration:none;
		text-shadow:0px 1px 0px #3d768a;
		max-width: 25%;
	}

	.myButton:hover {
		background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
		background-color:#408c99;
	}

	.myButton:active {
		position:relative;
		top:1px;
	}
}

@media (max-width: 500px) /* Mobile */ {
	.myButton {
		box-shadow: 0px 18px 14px -7px #153c42;
		background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
		background-color:#599bb3;
		border-radius:8px;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:14px;
		font-weight:bold;
		padding:16px 22px;
		text-decoration:none;
		text-shadow:0px 1px 0px #3d768a;
	}

	.myButton:hover {
		background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
		background-color:#408c99;
	}

	.myButton:active {
		position:relative;
		top:1px;
	}
}

