body {
	font-family: Libre Baskerville;
	background: #D1D8EC;
}

#container {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-gap: 2rem;
    height: 100vh;
}
.inputArea {
    display: grid;
    grid-row-start: 2;
}
form {
    display: grid;
    grid-row-start: 2;
    grid-column-start: 1;
    margin: auto;
    padding: 10px;
}

#formAmountValue {
    margin: 25px;
    padding 10px;
}

#myButton {
	background: #D1D8EC;

	width: 100px;
	height: 200px;
	-webkit-border-radius: 10px; 
	border-radius: 10px; 
	-webkit-box-shadow: 12px 12px 24px #b2b8c9,
	-12px -12px 24px #f0f8ff;
	box-shadow: 12px 12px 24px #b2b8c9,
	-12px -12px 24px #f0f8ff;

	grid-row-start: 2;
	grid-column-start: 2;

	margin: 100px;
	font-family: Libre Baskerville;
    font-weight: bolder;
    font-size: 20px;
}

