body {
	font-family: Libre Baskerville;
	background: #D1D8EC;
}

#container {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 0fr 3fr;
    grid-gap: 2rem;
    height: 100vh;
}
.inputArea {
    display: grid;
    grid-row-start: 2;
}

form {
    display: grid;
    grid-column-start: 1;
    margin: 0;
    padding: 10px;
    justify-items: center;
}

#formAmountValue {
    font-size: 60px;
    width: 5em;
    padding: 15px;
    margin: 0;
    border-radius: 50px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

#myButton {
	background: #D1D8EC;

    margin-top: 50px;
    margin-right: 10px;

	width: 150px;
	height: 150px;
	-webkit-border-radius: 10px; 
	border-radius: 10px; 
	-webkit-box-shadow: 12px 12px 24px #b2b8c9,
	-12px -12px 24px #f0f8ff;
	box-shadow: 12px 12px 24px #b2b8c9,
	-12px -12px 24px #f0f8ff;

	grid-row-start: 2;
	grid-column-start: 2;

	font-family: Libre Baskerville;
    font-weight: bolder;
    font-size: 20px;
}

#myButton:hover {
    background: linear-gradient(145deg, #bcc2d4, #e0e7fd);
    box-shadow:  20px 20px 60px #b2b8c9,
                             -20px -20px 60px #f0f8ff;
}

.grapher {
    grid-column-start: 2;
    grid-row-start: 2;
}

#myGrapher {
	background: ##fce8d9;

	width: 150px;
	height: 150px;
	-webkit-border-radius: 10px; 
	border-radius: 10px; 
	-webkit-box-shadow: 12px 12px 24px #b2b8c9,
	-12px -12px 24px #f0f8ff;
	box-shadow: 12px 12px 24px #b2b8c9,
	-12px -12px 24px #f0f8ff;

	grid-row-start: 2;
	grid-column-start: 2;

	margin: 50px;
	font-family: Libre Baskerville;
    font-weight: bolder;
    font-size: 20px;
}

#myGrapher:hover {
    background: linear-gradient(145deg, #fce8d9, #e0e7fd);
    box-shadow:  20px 20px 60px #b2b8c9,
                             -20px -20px 60px #f0f8ff;
}
.navIcon {
    margin: 25 25 0 15;
}

