body {
     background-color: #FCFCD6;
}
 #container {
     display: grid;
     grid-template-columns: 5fr 1fr;
     grid-template-rows: 1fr 3fr 1fr;
     grid-gap: 2rem;
}
 .inputArea {
     display: grid;
}
 form {
     display: grid;
     justify-content: center;
     justify-items: center;
}
 @media (min-width: 501px) {
     input[type=number] {
         font-family: serif;
         font-size: 24px;
         padding: 10px;
         margin-bottom: 3px;
         margin-top: 20%;
         border: 0;
         border-bottom:1px solid #eee;
         box-shadow: 0px 18px 14px -7px #153c42;
         width: 30%;
    }
}
 @media (min-width: 501px) 
/* Desktop */
 {
     button {
         box-shadow: 0px 18px 14px -7px #153c42;
         background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
         background-color:#599bb3;
         border-radius:8px;
         display:inline-block;
         cursor:pointer;
         color:#ffffff;
         font-family:Arial;
         font-size:16px;
         font-weight:bold;
         padding:24px 43px;
         margin: 10%;
         text-decoration:none;
         text-shadow:0px 1px 0px #3d768a;
    }
     button:hover {
         background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
         background-color:#408c99;
    }
     button:active {
         position:relative;
         top:1px;
    }
     .grapher {
         display: grid;
         justify-content: right;
         justify-items: right;
         margin-right: 50px;
         margin-top: 75%;
         margin-bottom: 30%;
         margin-left: 25%;
    }
}
 @media (max-width: 501px) {
     input[type=number] {
         font-family: serif;
         font-size: 16px;
         padding: 10px;
         margin-bottom: 30px;
         border: 0;
         border-bottom:1px solid #eee;
         box-shadow: 0px 18px 14px -7px #153c42;
         width: 35%;
    }
     .grapher {
         display: grid;
         justify-content: right;
         justify-items: right;
         margin-right: 50px;
         margin-top: 75%;
         margin-bottom: 30%;
         margin-left: 25%;
    }
}
 @media (max-width: 500px) 
/* Mobile */
 {
     h2 {
         font-family: serif;
         font-size: 20px;
    }
     #myButton {
         box-shadow: 0px 18px 14px -7px #153c42;
         background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
         background-color:#599bb3;
         border-radius:8px;
         display:inline-block;
         cursor:pointer;
         color:#ffffff;
         font-family:Arial;
         font-size:14px;
         font-weight:bold;
         padding:16px 22px;
         text-decoration:none;
         text-shadow:0px 1px 0px #3d768a;
    }
     #myButton:hover {
         background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
         background-color:#408c99;
    }
     #myButton:active {
         position:relative;
         top:1px;
    }
     #graphButton{
         box-shadow: 0px 18px 14px -7px #153c42;
         background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
         background-color:#599bb3;
         border-radius:8px;
         display:inline-block;
         cursor:pointer;
         color:#ffffff;
         font-family:Arial;
         font-size:14px;
         font-weight:bold;
         padding:16px 22px;
         text-decoration:none;
         text-shadow:0px 1px 0px #3d768a;
    }
     #graphButton:hover {
         background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
         background-color:#408c99;
    }
     #graphButton:active {
         position:relative;
         top:1px;
    }
}
 
