<html>
<head>
<title>Tracker</title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" charset="utf-8">
</head>
<body class="container">
	<%- include("../../partials/header.ejs"); %>
	<div class="inputArea">
		<form action="/work" method="POST">
			<input type = "number" id="formAmountValue" name = "value" max = "50" min = "1" placeholder="Amount" required autofocus/>
			<button type="submit" id="myButton">Submit</button>
		</form>
	</div>
</body>
	<div class="grapher">
		<form action="/workGraph">
			<input type="submit" value="Graph Past Transactions"/>
		</form>
	</div>
<link href="style.css" rel="stylesheet" type="text/css">
</main>
</html>

